body {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

.react-tiger-transition--container {
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 1200px;
  overflow: hidden;
}

.react-tiger-transition--route {
	height: 100%;
	top: 0;
	left: 0;
  bottom: 0;
  right: 0;
	width: 100%;
	position: absolute;
	visibility: visible;
	overflow: hidden;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
	transform-style: preserve-3d;
}

.react-tiger-transition--screen {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: scroll;
}
